<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=G-NLH9877VGF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{%- include background.html -%}
{%- include menu.html -%}
<div id="content" class="uk-container">
    <div class="uk-grid-collapse uk-flex-right@s uk-margin-large-bottom" uk-grid>
        <div class="ti-topic uk-width-1-2@s box">
            {{ content }}
        </div>
    </div>
</div>
{%- include footer.html -%}

</body>
</html>
